# Dependencies
node_modules/
package-lock.json

# Production builds
dist/
build/

# Environment Variables
.env
.env.local

# Logs & Temporary Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.DS_Store
Thumbs.db
